<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resume Builder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link href="../static/css/style.css" rel="stylesheet">
       
    </head>
    <body class="homepage" id="homepage_se">
        <header class="bg_image">
            <div class="text-left">
                <div class="container">
                    <div class="logo">
                        <h2>RESUME BUILDER</h2>

                    </div>
                    <div class="nav_button_right">
                        <a href="#templates" class="btn btn-info" >Create Awesome Resumes Now..!</a>
                    </div>
                </div>
            </div>
        </header>


        <section id="banner">
            <div class="container">
                <div class="row container">
                    <div class="col-md-12">
                        <h1> IMPRESSIVE RESUMES  </h1>
                        <h4>Build Your Resume Now !</h4>


                    </div>
                </div>
            </div>
        </section>


        <section id="template_view">
            <div class="container">
                <div class="row">

                         <img src="../static/img/resume_bg.png" >




                </div>
            </div>
        </section>


        <section id="templates">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>RESUME TEMPLATES</h2>
                        <p>Choose your own style to make resume</p>
                    </div>
                    <div class="col-md-4 zoom">
                        <a href="/resume_1">
                            <img src="../static/img/resume_1/resume_1.png" style="width: 100%">
                        </a>
                    </div>

                    <div class="col-md-4 zoom">
                        <a href="#">
                            <img src="../static/img/comming_soon.jpg" style="width: 100%">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <script src="../static/js/jquery-2.1.3.js"></script>
    </body>
</html>